.faq-container {
	margin-top: 16px;
	padding: 24px 64px;
	border: 1px dashed #14544F;
	border-radius: 12px;
}

.outer-container {
	padding: 24px 240px 64px 240px ;
}

a {
	color: #14544F;
}

.image-row {
	display: flex;
	justify-content: flex-start; /* Centers images */
	align-items: center;
	gap: 10px; /* Space between images */
	flex-wrap: wrap; /* Allows wrapping on smaller screens */
  }
  
  /* Ensures each image is responsive */
  .image-row a {
	display: inline-block; /* Ensures the link surrounds the image */
	text-decoration: none; /* Removes default link styles */
  }
  
  .image-row img {
	width: auto; /* Keeps image aspect ratio */
	max-width: 100%; /* Ensures responsiveness */
	height: 400px; /* Adjust height as needed */
	object-fit: cover; /* Ensures images are properly cropped */
	border-radius: 8px; /* Optional: Rounds the corners */
	transition: transform 0.3s ease-in-out; /* Adds a hover effect */
  }
  

/* Media query for mobile screens */
@media (max-width: 600px) {
	.faq-container {
		margin-top: 16px;
		padding: 4px 16px;
		border: 1px dashed #14544F;
		border-radius: 12px;
	}

	.outer-container {
		padding: 8px 16px 64px 16px ;
	}

	.image-row {
		flex-direction: column; /* Stacks images vertically */
		align-items: center; /* Centers images */
	  }
	
	  .image-row img {
		height: auto; /* Allows images to adjust height dynamically */
		width: 100%; /* Makes images responsive while keeping them visible */
	  }
	
}