/* RSVP.css */

/* General container styling */
.rsvp-container {
  /* width: 90%; Set the container width to 80% */

  margin: -1px auto; /* Center the container horizontally */
  padding: 0px 0px 100px 0px; /* Add some padding for breathing room */
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
}


.rsvp-content {
  background-color: #14544F; /* Light gray or any color of your choice */
  padding: 20px;
  /* border-radius: 10px; */
  /* margin: 20px 0; */
}

/* from portfolio */
.hero-section-wrapper {
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  background-color: #23483E; /* Light blue */
  color: #F2E8CE;
}


.hero-section {
  display: flex; /* Enables Flexbox for image and text alignment */
  flex-direction: row; /* Align image and text horizontally */
  align-items: center; /* Vertically align text relative to the image */
  justify-content: center; /* Ensure equal spacing horizontally */
  gap: 40px; /* Space between the image and text */
  max-width: 1200px; /* Restrict maximum width of the content */
  width: 100%; /* Ensure the content spans the available width */
  /* color: #fff; */
  padding: 20px 340px 40px 340px; 

}

.jan-img {
  /* max-width: 50%; Restrict the image to half the container width */
  height: auto; /* Maintain aspect ratio */
  margin: 20px auto; /* Center the image on desktop and add spacing */
  max-width: 800px;  /* Limit the size of the desktop image */
  width: 100%;       /* Make the desktop image responsive */
  height: auto;
  
}

.image-container-rsvp {
  max-width: 50%;
  position: relative; /* Allows absolute positioning inside */
  display: inline-block; /* Keeps the container size restricted to the image */
}

.guest-illustration-rsvp {
  position: absolute;
  top: -50px; /* Adjust to overlap below */
  left: -24px; /* Adjust to overlap left */
  width: 164px; /* Adjust size as needed */
  height: auto;
  z-index: 10; /* Ensure it appears above other elements */
}

/* .intro {
  margin-bottom: 56px;
} */

header {
  flex: 1;
}


.hero-section h1 {
  font-size: 1.6rem;
  /* line-height: 2.2rem; */
  font-family: fatfrank,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.overline {
  font-family: "mrs-eaves-roman-small-caps", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 8px;
  /* margin-top: 40px; */
}
/* end from portfolio */

.content-section {
  padding: 20px 340px 40px 340px; 
}


.constrained-section {
  max-width: 1000px; /* Adjust this value to your desired constraint */
  width: 100%; /* Allows it to expand to its max-width */
  margin: 0 auto; /* Centers the section horizontally */
  padding: 0 20px; /* Add padding for breathing room */
  box-sizing: border-box; /* Ensures padding doesn't increase width */
}

h1, h3 {
  text-align: center;
}

/* Masonry Container */
.party-image-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; /* Limit maximum width for better layout control */
  padding: 0;
  box-sizing: border-box;
  justify-content: center; /* Center the columns */
}

/* Masonry Column */
.party-masonry-column {
  padding: 8px;
  background-clip: padding-box;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items within columns */
}

/* Images */
.party-images {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  object-fit: contain; /* Maintain aspect ratio without cropping */
  max-height: 600px; /* Prevent images from becoming too tall */
}


/* RSVP guest list container */
.guest-list {
  display: flex; /* Enables Flexbox for image and text alignment */
  flex-direction: column; /* Align image and text horizontally */
  align-items: center; /* Vertically align text relative to the image */
  justify-content: center; /* Ensure equal spacing horizontally */
  gap: 16px; /* Space between the image and text */
  /* max-width: 1200px; Restrict maximum width of the content */
  
  /* color: #fff; */
  padding: 0; 
  /* height: 240px; */
}






/* RSVP guest card styling */
.guest-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  width: 100%; /* Make it responsive */
  /* max-width: 700px; Prevents overflow */
  box-sizing: border-box; /* Ensures padding doesn't increase width */
  margin: 0 auto; /* Centers within guest-list */
  overflow: hidden; /* Ensures no content overflows */
}




/* Ensures image and text are properly aligned */
.guest-card-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* Guest image styling */
.guest-card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* Guest details */
.guest-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

/* RSVP button container */
.chip-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if needed */
  gap: 10px;
  margin-top: 10px;
}

.chip {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
/*  transition: background-color 0.3s;*/
  box-shadow: none;
  text-align: center;
}

.chip.active {
  background-color: #13493E;
  color: white;
}

.chip:hover {
  background-color: #092A2C !important;
  color: white;
  transform: translateY(0) !important;
}

/* Allergy input container */
.allergy-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/* Styling for the textarea (multi-line input) */
.input-textarea {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Arial', sans-serif; /* Set font to Arial */
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: vertical; /* Allow the user to resize the height */
}

.input-textarea:focus {
  border-color: #13493E;
  box-shadow: 0 0 5px #13493E;
  outline: none;
}

/* General input field styling */
.input-field {
  padding: 8px 12px;
  margin: 0px 5px 25px 0px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  border-color: #13493E;
  box-shadow: 0 0 5px #13493E;
  outline: none;
}

/* Button styling */
button {
  padding: 12px 20px;
  background-color: #967B51;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #4D3817;
  transform: translateY(-2px);
}

button:active {
  background-color: #388e3c;
  transform: translateY(0);
}



/* Bottom bar styling */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #967B51;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.bottom-bar p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.bottom-bar button {
  padding: 10px 20px;
  background-color: #4D3817;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bottom-bar button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

.bottom-bar button:hover:not(:disabled) {
  background-color: #3B2C12;
}

/* Error message styling inside the bottom bar */
.error-message-bar {
  margin: 0;
  margin-left: 20px; /* Add space between the guest count and error message */
  color: #FFDADA;
  font-size: 16px;
  font-weight: bold;
}


/* Guest note card styling */
.guest-note-card {
  /* border: 1px solid black; Black border */
  /* border-radius: 12px; Border radius */
  /* padding: 24px; Padding inside the card */
  font-family: 'Crimson Text', serif; /* Crimson Text font */
  font-size: 1.2rem;
  margin-bottom: 20px; /* Space below the card */
  text-align: left;
  
}

.guest-note-card p {
  margin: 0; /* Remove default margin on the paragraph */
}

.party-note {
  margin-top: 15px; /* Add space above the party note */
  margin-bottom: 10px; /* Add space below the party note */
}

.error-message {
  color: #F2E8CE;
  margin-top: 10px;
  font-size: 14px;
}



/* Media query for smaller screens */
@media (max-width: 1439px) {
  .rsvp-container {
    /* width: 95%; */
    padding-bottom: 150px;
  }

  .hero-section {
      padding: 20px;
    }

   
    .hero-section {
        flex-direction: column;
        gap: 0;
    }

    .image-container-rsvp {
      max-width: 100%;
    }

    .jan-img {
        max-width: 100%; /* Restrict image width to full width of the container */
      }

      .guest-illustration-rsvp {
        position: absolute;
        top: -24px; /* Adjust to overlap below */
        right: -24px; /* Adjust to overlap left */
        width: 100px; /* Adjust size as needed */
        height: auto;
        z-index: 10; /* Ensure it appears above other elements */
      }

      .content-section {
        padding: 20px; 
      }

  .constrained-section {
    max-width: 100%;
  }

  .guest-list {
    
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures cards are centered */
  }

  .guest-card {
    width: 100%; /* Make sure the card takes up available space within .guest-list */
    /* max-width: 500px; Set a reasonable max width */
    padding: 16px;
  }

  .guest-card-content {
    flex-direction: column; /* Stack image and details vertically */
    gap: 10px;
    width: 100%; /* Make the content full width */
    align-items: center;
    
  }

  .guest-card-image {
    width: 200px; /* Larger image for guest illustration on mobile */
    height: 200px;
    margin-bottom: 10px; /* Add some space below the image */
  }

  .guest-details {
    width: 100%; /* Make guest details take up full width */
    text-align: center;
  }

  .input-textarea {
    width: 100%;
    /* max-width: 600px; */
    max-width: none;
  }

  .chip-container {
    flex-direction: column; /* Stack chips vertically */
    width: 100%; /* Make chips take up full width */
  }

  .chip {
    width: 100%; /* Make each chip full width */
  }

  /* Make the party images full width on mobile */
  .party-images {
    width: 100%; /* Full width for RSVP images on mobile */
    margin-bottom: 8px;
  }

    .bottom-bar {
    justify-content: center; /* Center the content on mobile */
    flex-direction: column;  /* Stack content vertically */
    text-align: center; /* Center-align text */
    padding: 15px 20px; /* Adjust padding */
  }

  .bottom-bar p {
    margin-bottom: 10px; /* Add space between message and button */
  }

  .error-message-bar {
    margin: 10px 0 0; /* Ensure margin is consistent when error appears */
  }

  .bottom-bar button {
    width: 100%; /* Make the button full width on mobile */
    max-width: 300px;
  }

  .party-image-container {
    max-width: 100%;
    padding: 0 20px; /* Add some padding on smaller screens */
  }

  .party-images {
    max-height: 500px; /* Slightly smaller max height on mobile */
  }
}
