body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #E8DABB;  /* Change this to your preferred color */
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success-message {
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

h1 { /* Or the selector for your header element */
  font-family: 'Dela Gothic One', sans-serif; 
}


html, body {
  height: 100%;  /* Make sure the background color covers the entire height */
}
